
<main>
  <div class="container py-5 col-12 col-md-6 ">
    <h2>Movie Lists</h2>
    <ul class="shadow py-5">
      <% @lists.each do |list| %>
      <%= link_to list.name, list_path(list)%>
      <%end%>
    </ul>
  </div>
</main>
